# Scraping Pizza Hut Website
The website scraped is [pizza hut california](https://locations.pizzahut.com/ca) and library used is beautiful soup

In [1]:
#importing various libraries
import requests
from bs4 import BeautifulSoup

In [2]:
page = requests.get("https://locations.pizzahut.com/ca") #getting html text from website using requests
soup = BeautifulSoup(page.content, 'html.parser') #creating beautiful soup instance for text

In [3]:
content= soup.find(class_="Directory-content") # searching for tags having class as Directory Content

In [4]:
#obtaining City names having outlets
outlet=[out.get_text() for out in content.select(" ul.Directory-listLinks li.Directory-listItem a.Directory-listLink ")]
#obtaining outlet count for cities
count=[co["data-count"] for co in content.select("ul.Directory-listLinks li.Directory-listItem a.Directory-listLink")]

In [5]:
print(outlet)
print(count)
#a.Directory-listLink li.Directory-listItem

['Alameda', 'Alhambra', 'Alpine', 'Altadena', 'Anaheim', 'Antioch', 'Apple Valley', 'Arcadia', 'Artesia', 'Arvin', 'Atwater', 'Azusa', 'Baker', 'Bakersfield', 'Baldwin Park', 'Banning', 'Barstow', 'Bell', 'Bell Gardens', 'Bellflower', 'Blackhawk', 'Brawley', 'Brea', 'Buena Park', 'Burbank', 'Calexico', 'Camarillo', 'Canoga Park', 'Canyon Country', 'Carson', 'Castaic', 'Cathedral City', 'Ceres', 'Cerritos', 'Chatsworth', 'Chino', 'Chino Hills', 'Chula Vista', 'Citrus Heights', 'Clovis', 'Coachella', 'Colma', 'Colton', 'Compton', 'Corona', 'Costa Mesa', 'Covina', 'Crescent City', 'Culver City', 'Cypress', 'Davis', 'Delano', 'Desert Hot Springs', 'Diamond Bar', 'Dinuba', 'Downey', 'Dublin', 'East Los Angeles', 'El Cajon', 'El Centro', 'El Dorado Hills', 'El Monte', 'Elk Grove', 'Encinitas', 'Escondido', 'Eureka', 'Fairfield', 'Fallbrook', 'Folsom', 'Fontana', 'Foothill Ranch', 'Fort Irwin', 'Fountain Valley', 'Fremont', 'Fresno', 'Fullerton', 'Garden Grove', 'Gardena', 'Gilroy', 'Glendale', 'Glendora', 'Granada Hills', 'Hacienda Heights', 'Hanford', 'Hawthorne', 'Hayward', 'Hemet', 'Hesperia', 'Highland', 'Hollywood', 'Huntington Beach', 'Huntington Park', 'Indio', 'Inglewood', 'Irvine', 'La Habra', 'La Mesa', 'La Mirada', 'La Puente', 'La Quinta', 'La Verne', 'Ladera Ranch', 'Laguna Hills', 'Laguna Niguel', 'Lake Elsinore', 'Lake Forest', 'Lakewood', 'Lancaster', 'Lathrop', 'Lemoore', 'Lincoln', 'Lodi', 'Lomita', 'Lompoc', 'Long Beach', 'Los Angeles', 'Los Banos', 'Lost Hills', 'Lynwood', 'Madera', 'Manteca', 'Marina', 'Marysville', 'Menifee', 'Menlo Park', 'Merced', 'Milpitas', 'Mira Loma', 'Mission Viejo', 'Modesto', 'Montebello', 'Monterey', 'Moreno Valley', 'Morgan Hill', 'Mountain View', 'Murrieta', 'Napa', 'National City', 'Newbury Park', 'Newhall', 'Newport Beach', 'Norco', 'North Hills', 'North Hollywood', 'Northridge', 'Norwalk', 'Novato', 'Oakland', 'Oceanside', 'Ontario', 'Orange', 'Oroville', 'Oxnard', 'Pacoima', 'Palm Desert', 'Palm Springs', 'Palmdale', 'Palo Alto', 'Panorama City', 'Paramount', 'Pasadena', 'Paso Robles', 'Perris', 'Petaluma', 'Pico Rivera', 'Pinole', 'Placentia', 'Pleasant Hill', 'Pomona', 'Port Hueneme', 'Porterville', 'Poway', 'Ramona', 'Rancho Cucamonga', 'Rancho Mirage', 'Redding', 'Redlands', 'Redwood City', 'Reseda', 'Rialto', 'Richmond', 'Ridgecrest', 'Riverside', 'Rocklin', 'Rolling Hills Estates', 'Rosamond', 'Rosemead', 'Roseville', 'Rowland Heights', 'Sacramento', 'Salinas', 'Salton City', 'San Bernardino', 'San Bruno', 'San Clemente', 'San Diego', 'San Dimas', 'San Fernando', 'San Gabriel', 'San Jacinto', 'San Jose', 'San Juan Capistrano', 'San Leandro', 'San Luis Obispo', 'San Marcos', 'San Mateo', 'San Pablo', 'San Pedro', 'San Rafael', 'San Ramon', 'Sand City', 'Santa Ana', 'Santa Clara', 'Santa Clarita', 'Santa Maria', 'Santa Monica', 'Santa Rosa', 'Santee', 'Seal Beach', 'Sherman Oaks', 'Signal Hill', 'Simi Valley', 'South Gate', 'South Lake Tahoe', 'South San Francisco', 'Spring Valley', 'Stanton', 'Stockton', 'Sunland', 'Sunnyvale', 'Sylmar', 'Taft', 'Temecula', 'Thousand Oaks', 'Tipton', 'Torrance', 'Tracy', 'Tulare', 'Turlock', 'Tustin', 'Twentynine Palms', 'Union City', 'Universal City', 'Upland', 'Vallejo', 'Van Nuys', 'Venice', 'Ventura', 'Victorville', 'Visalia', 'Vista', 'Walnut Creek', 'Wasco', 'West Covina', 'Westlake Village', 'Westminster', 'Whittier', 'Wilmington', 'Woodland', 'Yorba Linda', 'Yuba City', 'Yucaipa', 'Yucca Valley']
['(1)', '(2)', '(1)', '(1)', '(10)', '(2)', '(4)', '(2)', '(1)', '(1)', '(2)', '(2)', '(2)', '(13)', '(1)', '(1)', '(1)', '(1)', '(1)', '(1)', '(1)', '(1)', '(1)', '(3)', '(3)', '(2)', '(1)', '(3)', '(1)', '(5)', '(1)', '(1)', '(1)', '(1)', '(1)', '(2)', '(1)', '(4)', '(2)', '(2)', '(1)', '(1)', '(1)', '(2)', '(4)', '(3)', '(2)', '(1)', '(1)', '(1)', '(1)', '(1)', '(1)', '(1)', '(1)', '(3)', '(1)', '(1)', '(3)', '(1)', '(1)', '(1)', '(3)', '(1)', '(3)', '(1)', '(2)', '(1)', '(1)', '(8)', '(1)', '(1)', '(1)', '(2)', '(10)', '(2)', '(4)', '(2)', '(1)', '(2)', '(1)', '(2)', '(1)', '(2)', '(4)', '(4)', '(3)', '(2)', '(1)', '(1)', '(5)', '(2)', '(1)', '(4)', '(1)', '(1)', '(2)', '(1)', '(2)', '(1)', '(2)', '(1)', '(1)', '(1)', '(3)', '(1)', '(2)', '(4)', '(1)', '(2)', '(2)', '(1)', '(1)', '(1)', '(12)', '(33)', '(2)', '(1)', '(2)', '(1)', '(1)', '(2)', '(1)', '(2)', '(1)', '(1)', '(2)', '(1)', '(2)', '(4)', '(1)', '(1)', '(5)', '(1)', '(1)', '(2)', '(1)', '(3)', '(1)', '(1)', '(1)', '(1)', '(1)', '(5)', '(2)', '(4)', '(1)', '(1)', '(4)', '(5)', '(4)', '(1)', '(3)', '(1)', '(1)', '(1)', '(6)', '(1)', '(1)', '(1)', '(2)', '(1)', '(1)', '(1)', '(1)', '(1)', '(1)', '(2)', '(3)', '(1)', '(3)', '(1)', '(1)', '(2)', '(1)', '(2)', '(3)', '(3)', '(2)', '(3)', '(2)', '(1)', '(10)', '(2)', '(1)', '(1)', '(2)', '(1)', '(1)', '(10)', '(3)', '(1)', '(5)', '(2)', '(1)', '(18)', '(1)', '(1)', '(1)', '(1)', '(15)', '(1)', '(2)', '(1)', '(2)', '(2)', '(1)', '(1)', '(1)', '(1)', '(1)', '(11)', '(1)', '(2)', '(1)', '(1)', '(2)', '(1)', '(1)', '(1)', '(1)', '(3)', '(2)', '(1)', '(1)', '(2)', '(1)', '(3)', '(1)', '(1)', '(1)', '(1)', '(3)', '(2)', '(1)', '(4)', '(3)', '(2)', '(1)', '(2)', '(1)', '(1)', '(1)', '(2)', '(2)', '(4)', '(1)', '(2)', '(3)', '(3)', '(3)', '(1)', '(1)', '(3)', '(1)', '(2)', '(3)', '(1)', '(1)', '(1)', '(2)', '(1)', '(1)']

In [6]:
#converting to dataframe
import pandas as pd
Pizza_Hut = pd.DataFrame({
    "City_Name": outlet,
    "Outlet_Count": count,
   })
Pizza_Hut

        City_Name Outlet_Count
0         Alameda          (1)
1        Alhambra          (2)
2          Alpine          (1)
3        Altadena          (1)
4         Anaheim         (10)
..            ...          ...
258      Woodland          (1)
259   Yorba Linda          (1)
260     Yuba City          (2)
261       Yucaipa          (1)
262  Yucca Valley          (1)

[263 rows x 2 columns]

In [7]:
#preprocessing
Pizza_Hut['Outlet_Count']=Pizza_Hut['Outlet_Count'].str.replace(")","")
Pizza_Hut['Outlet_Count']=Pizza_Hut['Outlet_Count'].str.replace("(","")

In [8]:
Pizza_Hut.dtypes

City_Name       object
Outlet_Count    object
dtype: object

In [9]:
Pizza_Hut['Outlet_Count'] = Pizza_Hut['Outlet_Count'].astype(int)
Pizza_Hut['City_Name'] = Pizza_Hut['City_Name'].astype(str)

In [10]:
Pizza_Hut.dtypes

City_Name       object
Outlet_Count     int32
dtype: object

In [11]:
Pizza_Hut.describe()

       Outlet_Count
count    263.000000
mean       2.228137
std        2.939798
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       33.000000

In [12]:
Pizza_Hut.head()

  City_Name  Outlet_Count
0   Alameda             1
1  Alhambra             2
2    Alpine             1
3  Altadena             1
4   Anaheim            10

In [13]:
#converting to csv
Pizza_Hut.to_csv('Pizza_Hut_dataset.csv',index=False)